# Ignore Python cache directories and files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local virtual environments
venv/
.venv/
env/
.env/

# Ignore development files and logs
.git/
.gitignore
.dockerignore
*.log
plots/
tests/
Dockerfile

# Ignore IDE specific directories
.vscode/
.idea/
